html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    background-color: #27233A;
    font-family: 'Nanum Myeongjo', serif;
}

.main {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}